<html>
	<head>
		<meta charset="UTF-8">
		<title>底部链接</title>
		<style>
		.alt {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-content: center;
			justify-content: flex-start;
			align-items: flex-start;
		}
		</style>
    </head>
	<body>
		<div class="footer">
			<div class="alt">
				<div class="foot">
					<p>非官方用户指南译文系列</p>
					<a href="https://zh.ceviodoc.uk">CeVIO AI（中文版）</a>
					<a href="https://en.ceviodoc.uk">CeVIO AI（英文版）</a>
					<a href="https://voisona.ceviodoc.uk">VoiSona（中文版）</a>
				</div>
				<div class="foot">
					<p>官方网站</p>
					<a href="https://cevio.jp/">CeVIO 官方网站</a>
					<a href="https://x.com/CeVIO_st">X（旧 Twitter）上的 CeVIO</a>
					<a href="https://voisona.com/">VoiSona 官方网站</a>
					<a href="https://x.com/VoiSonaOfficial">X（旧 Twitter）上的 VoiSona</a>
					<a href="https://www.techno-speech.com/">Techno-Speech, Inc. 官方网站</a>
				</div>
				<div class="foot">
					<p>其他链接</p>
					<a href="https://w.atwiki.jp/ceviouser/">CeVIOユーザー互助会wiki</a>
					<a href="https://www.vsqx.top/">vsqx分享平台</a>
					<a href="https://sdercolin.github.io/utaformatix3/">UtaFormatix - 工程文件转换站</a>
					<a href="https://wikiwiki.jp/voirosozai/">VOICEROID素材まとめ Wiki*</a>
				</div>
			</div>
		</div>
	</body>
 
</html>