[data-md-color-scheme="light-blue"] {
  --md-primary-fg-color: hsla(199.3, 79.2%, 58.4%, 1);

  --md-accent-fg-color: hsla(309.2, 65.5%, 72.7%, 1);
  --md-accent-fg-color--transparent: hsla(309.2, 65.5%, 72.7%, 0.1);
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: hsla(199.3, 79.2%, 58.4%, 1);

  --md-accent-fg-color: hsla(309.2, 65.5%, 72.7%, 1);
  --md-accent-fg-color--transparent: hsla(309.2, 65.5%, 72.7%, 0.1);
}